@import url("materialize.min.css");

$savvyblue: #418BC4;
$darktext: #333333;
$lighttext: #F5F5F5;

$start: #009900;
$reset: #990000;

body {
  background-color: $savvyblue;
  color: $lighttext;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.savadoro {
  width: 480px;
  height: 560px;

  background: radial-gradient(140.00px at 50% 71.51%, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);

  .savadoro--title {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
  }
  .session-input {
    margin-left: 3em;
  }
  input[type="text"], input[type="number"] {
    width: 4em;
    background-color: $lighttext;
    color: $darktext;
    text-align: right;
  }
  input {
  }
  .btn-group {
    font-size: 2em;
  }

  .start-btn {
    color: $start;
    padding: 0 1.7em;
    &:focus {
    background-color: $start;
    color: $lighttext;
    }
  }

  .pause-btn {
    color: $darktext;
    padding: 0 1em;
    &:focus {
      background-color: $darktext;
      color: $lighttext;
    }
  }

  .reset-btn {
    color: $reset;
    padding: 0 1.7em;
    &:focus {
      background-color: $reset;
      color: $lighttext;
    }
  }

  .current {
    margin: 2em 0;
    font-size: 1.3em;
  }

  .timer-backdrop { padding-bottom: 2em; }

  .timer {
    border-radius: 50%;
    /* Ellipse */
    margin: auto auto;
    padding: 2em;
    width: 240px;
    height: 160px;
    color: #333333;
    background: $lighttext;
    border: 2px solid $savvyblue;
    box-sizing: border-box;
  }

  #current-time {
    margin: auto auto;
    font-family: 'Numans', sans-serif;
  }
}
