@import url("materialize.min.css");

$savvyblue: #418BC4;
$darktext: #333333;
$lighttext: #F5F5F5;

$start: #009900;
$reset: #990000;

body {
  background-color: $savvyblue;
  color: $lighttext;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.overlay-div {
  background-color: rgba(34, 71,  101, .7);
  z-index: 80;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#info-icon {
  opacity: .7;
  z-index: 1001;
  margin-right: 10px;
}

.info-div {
  position: absolute;
  width: 80%;
  z-index: 1000;
  padding: 1em;
  background-color: $lighttext;
  color: $darktext;
  top: 20%;
  margin-left: 3.5em;
  box-shadow: 5px 5px 5px darken($savvyblue, 20%);
  font-size: .9em;
  margin-bottom: 1em;
  #info-close {
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .savvy-team {
    margin-top: 2.5em;
  }
  h5 {
    color: $savvyblue;
  }
  a {
    font-size: 1.3em;
    color: $savvyblue;
  }
}


.hide {
  display: none;
}

.savadoro {
  width: 480px;
  height: 560px;

  background: radial-gradient(140.00px at 50% 71.51%, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);

  .savadoro--title {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
  }
  .session-input {
    margin-left: 3em;
  }
  input[type="text"], input[type="number"] {
    width: 4em;
    background-color: $lighttext;
    color: $darktext;
    text-align: right;
  }
  input {
  }
  .btn-group {
    font-size: 2em;
  }

  .start-btn {
    color: $start;
    padding: 0 1.7em;
    &:focus {
    background-color: $start;
    color: $lighttext;
    }
  }

  .pause-btn {
    color: $darktext;
    padding: 0 1em;
    z-index: 999;
    position: relative;
    &:focus {
      background-color: $darktext;
      color: $lighttext;
    }
  }

  .reset-btn {
    color: $reset;
    padding: 0 1.7em;
    &:focus {
      background-color: $reset;
      color: $lighttext;
    }
  }

  .current {
    margin: 2em 0;
    font-size: 1.3em;
  }

  .timer-backdrop { padding-bottom: 2em; }

  .timer {
    border-radius: 50%;
    /* Ellipse */
    margin: auto auto;
    padding: 2em;
    width: 240px;
    height: 160px;
    color: #333333;
    background: $lighttext;
    border: 2px solid $savvyblue;
    box-sizing: border-box;
  }

  #current-time {
    margin: auto auto;
    font-family: 'Numans', sans-serif;
  }
}
